/* Here defined three class to make list situated in the center of the page */
/* Especially for the images and the lists situated side by side */
.centerDiv
{
    width: 60%;
    height: 200px;
    margin: 0 auto;
}
.div1
{
    width: 50%;
    height: 500px;
    float: left;
}
.div2
{
    width: 50%;
    height: 500px;
    float: left;
}